
h1#prompt{
	text-align: center;
}
h2#prompt{
	text-align: center;
}
body#mycolor {
		background-color: #16CA34;

	}

div#bottom{
	position: absolute;
	bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	}

div#description{
		
		font-size: 40px;
		text-decoration: underline;
	}
div#story{
		font-size: 25px;
		color: #B825C8;
	}
div#difficulty{
	font-size: 50px;
}
StartIMG{
	display: block;
	margin: auto;
	width: 0%;
}

DeskRow{
	margin:auto;
}